.card {
  font-size: 60px;
  display: inline-block;
  border: 5px solid #7796cb;
  padding: 20px;
  border-radius: 20px;
  margin: 5px;
  background-color: #7796cb;
  user-select: none;
  cursor: pointer;
}
.gameField {
  background-color: #576490;
  border-radius: 20px;
}

.current {
  border-color: #c9cad9;
}

.counter {
  width: auto;
  margin-top: 10px;
  border: 3px solid #7796cb;
  border-radius: 10px;
  text-align: center;
  background-color: #7796cb;
  color: aliceblue;
  font-weight: 700;
  font-size: 30px;
}

.conteiner {
  max-width: 720px;
  margin: auto;
}
body {
  background-color: #576490;
}
