.container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  transition: all 0.3s;
  font-family: Andale Mono, monospace;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  width: 200px;

  background-color: #ab886d;
  color: #e4e0e1;
}
.card:hover {
  border: 5px solid #d6c0b3;

  transform: scale(1);
}
.sortCardBosses {
  color: #cba3e2;
  font-size: large;
  font-family: Impact, fantasy;
}
.createBosess {
  transition: all 0.4s;
  font-family: Impact, fantasy;
  font-size: large;
  border: 5px solid #c692b6;
  background-color: #ab886d;
  color: #cba3e2;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 10%;
}
.createBosess:hover {
  border-radius: 30%;
}
.card h3 {
  text-align: center;
  font-family: null;
}
.card p {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background: #493628;
  background-attachment: fixed; /* Фиксирует фон, чтобы он не двигался при прокрутке */
  background-size: cover; /* Растягивает фон по всей странице */
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Минимальная высота страницы */
}
